# Build / publish
bin/
obj/
out/
dist/
*.pdb
*.mdb
*.log

# IDEs
.vscode/
.vs/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# OS junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Rider caches
.sln.iml

# Coverage / test
coverage/
*.coverage
*.coveragexml
TestResult*/
